.Landing {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
  padding-top: 15rem;
  background-color: #00b54f;
  background-image: linear-gradient(0deg, #00b54f 0%, #ffe947 100%);
  animation: 3s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

.Landing-logo {
  width: 40rem;
  height: 23rem;
  position: relative;
}

.Landing-img {
  width: 25rem;
  height: 25rem;
}

.Pikachu{
  margin: 2rem 2rem 0 0;
  position: absolute;
  top: 0;
  right: 0;
  animation: slide-left 2s linear both;
}

.Meowth{
  position: absolute;
  left: -4rem;
  bottom: 8rem;
  animation: slide-right 2s linear both;
}

.btn-container {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #ef233c;
  --color-outline: #d80032;
  --color-shadow: #00000080;
}

.btn-title {
  color: var(--color-text);
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* MediaQuerys */
@media (max-width: 768px) {
  .Landing-img {
    width: 20rem;
    height: 20rem;
  }
  .Pokeball {
    width: 30rem;
    height: 30rem;
    top: 30%;
    right: 24%;
  }
}

/* KeyFrames */
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

@keyframes slide-left{
  0% {
    transform:translateX(0)
  }
  100% {
    transform:translateX(-5rem)
  }
}

@keyframes slide-right{
  0% {
    transform:translateX(0)
  }
  100% {
    transform:translateX(5rem)
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}