.PageNotFound {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.PageNotFound-info{
	width: 100%;
}

.PageNotFound-btn{
	padding-right: 6rem;
}